# ignora commit di file ipynb 

*.ipynb
.ipynb_checkpoints/

# ho aggiunto anche la cartella sandbox che ognuno può usare 
# per fare esperimenti su script invisibili a git

sandbox/*
!sandbox/.gitkeep