# ignora commit di file ipynb 

*.ipynb
.ipynb_checkpoints/

# ho aggiunto anche la cartella sandbox che ognuno può usare 
# per fare esperimenti su script invisibili a git

sandbox/*
!sandbox/.gitkeep

# ignora commit di file di configurazione e di cache
*.pyc
*.json

#ignora cartella video
videos/
*.mp4

# ignora file di checkpoint e modelli salvati
*.zip